<div id="fh5co-page">

    <div ng-include src="'templates/admin/include/banner.html'"></div>
 
    <div class="col col-md-2" ng-include src="'templates/admin/include/side.html'"></div>
    
<div class="col col-md-10">
          <div class="content grade">


                <section class="content-header">
                  <br><br>
                <h4>
                Jobs
                </h4>
                </section>
      




                  <div class="box-body" style="border:none !important;overflow:scroll !important;">
                  <table class="table table-hover no-border" style="border:none !important;">
                      <tbody style="border:none !important;">
                        <tr style="color:rgb(39, 38, 38);background-color: rgb(252, 248, 248);border: 1px solid rgb(247, 244, 244);">
                         <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Documents</th>
                      </tr>
            
                      <tr ng-repeat="job in jobs | filter:srch | orderBy:'-_id'" style="cursor:pointer;background-color:rgb(7, 7, 7) !important;color:rgb(218, 214, 214) !important;">
                        <td>{{job.first_name}} {{job.last_name}}</td>
                        <td>{{job.email}}</td>
                        <td>{{job.phone}}</td>
                        <td>
                          <a style="text-decoration: underline !important;" href="{{media + job.document +'?token='+token}}">{{job.document}}</a>
                          <div ng-if="job.docs.length > 0">
                          <a ng-repeat="doc in job.docs" style="text-decoration: underline !important;" href="{{media + doc +'?token='+token}}">{{doc}}</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>


                  <div ng-show="!jobs || jobs.length < 1" class="text-center padding"><br><br><br>
                    <b>No Job Application</b>
                </div>
                  

        </div>
      </div>
   
</div>








