
    <div ng-include src="'templates/admin/include/banner.html'"></div>
 
    <div class="col col-md-2" ng-include src="'templates/admin/include/side.html'"></div>
    
<div class="col col-md-7">
          <div class="box">


                <section class="content-header">
                  <br>
                <h2 class="black">
                Reports
                </h2>
                </section>
      

                <div class="row">

                  <div class="col col-md-12 col-sm-12">

                    <div class="box padding" style="padding:10px !important;overflow:scroll !important;">

                    <div class="row">
                        <div class="input-group-sm col col-md-7 col-sm-7 col-xs-7">
                          <input type="text" ng-model="srch" style="background-color:rgba(255, 218, 185, 0) !important; color:rgb(0, 0, 0);" placeholder="Search for transactions">
                        </div>
                    </div>
                    <bR>

                     <table class="table table-hover" style="overflow-y: scroll !important;height: 200px !important;">
                              <tbody>
                                <tr style="color:rgb(39, 38, 38);background-color: rgb(252, 248, 248);border: 1px solid rgb(247, 244, 244);">
                                  <th>Type</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                                </tr>
                
                              <tr ng-include src="'templates/admin/components/sales_list.html'" ng-repeat="p in transactions | filter:srch | filter:{status:0,reported:true,sorted:false} | orderBy:'-date_created' | limitTo:125" style="cursor:pointer;" data-toggle="modal" data-target="#viewtransaction" ng-click="select_transaction(p)">
                                </tr>


                    
                    
                            </tbody>
                          </table>  


                          <div class="text-center padding" ng-if="!transactions || (transactions | filter:{status:0,reported:true,sorted:false}).length < 1">
                           <br><br><br> <b>No reports made</b>
                          </div>
                  
                      </div>

                    </div>

                    <!-- <div class="col col-md-3 col-sm-12">
                      <h4>Top seller</h4>
                      <div class="box" style="background-color: white !important;">
                        <table class="table table-hover" style="overflow-y: scroll !important;height: 100px !important;">
                      <tbody>
                      
        
                      <tr ng-repeat="p in assets  | orderBy:'-sales' | limitTo:5" style="cursor:pointer;">
                         <td>
                          <div style="border:none !important;width:100px !important;height: 40px !important;background-size: cover !important;" ng-style="{'background-image':'url('+media+p.photo+')'}">
                          </div>              
                         </td>
                         <td><b class="orange">{{p.name}}</b></td>
                      </tr>
            
            
                    </tbody>
                  </table>  
                          </div>

                    </div> -->

                  </div>




        </div>
      </div>










      

      <div class="col col-md-3 col-sm-12 rightside">

        <br>

<br>

  
<div class="box padding" style="padding:10px !important;overflow:scroll !important;">

<br>
  <h4 class="black">
     Sorted Issues
    </h4>
  <h6 class="black">{{
    (transactions | filter:{status:0,reported:true,sorted:true}).length || 0
  }} Pending</h6>
  <table class="table table-hover" style="overflow-y: scroll !important;height: 200px !important;">
    <tbody style="border:none !important;">
    <tr style="color:rgb(39, 38, 38);background-color: rgb(252, 248, 248);border: 1px solid rgb(247, 244, 244);">
    <th>Type</th>
    <th>Amount</th>
  </tr>

  <tr  ng-repeat="p in transactions | filter:{status:0,reported:true,sorted:false} | orderBy:'-date_created'" style="cursor:pointer;background-color:rgb(236, 233, 233) !important;color:rgb(29, 28, 28) !important;"  data-toggle="modal" data-target="#viewtransaction" ng-click="select_transaction(p)">
      <td>{{p.name}}</td>
      <td>
        <b ng-if="p.type=='cryptocurrency'">{{p.symbol || '$'}} {{p.amount || 0 | number:8}}</b>
        <div ng-if="p.type=='gift card'">
          <b ng-if="card.quantity > 0" ng-repeat="card in p.cards">{{p.symbol || '$'}} {{card.amount || 0}} ,</b>
        </div>
      </td>
    </tr>
</tbody>

</table>


<div ng-show="!transactions || (transactions | filter:{status:0,reported:true,sorted:true}).length < 1" class="text-center padding"><br><br><br>
<b>No Issue</b>
</div>




</div>










      </div>













  
  
<div ng-include src="'templates/admin/popups/view_transaction.html'"></div>




<div ng-include src="'templates/admin/popups/logout.html'"></div>
 