


<div class="bg1" style="background-color: rgb(5, 39, 66) !important;">
	<div class="container">

   <div class="row">

      <div class="col col-md-12">

							<div class="login-box center-box">

								<div class="login-logo">
									<br>
										<img title="logo" src="images/obic.png" height="70" style="margin:auto !important;"/><br>
										<small style="color:rgb(31, 45, 71);font-size: 22px !important;">Office</small>
								</div>

								<div class="center-box">
	
										<p style="color:rgb(22, 22, 22) !important;width:60%;margin:auto;direction:ltr;line-height: 14px; font-size:11px;font-weight: lighter !important; text-align:center !important;">For administrator access only.</p>
                                        <br>
                                        <form ng-submit="login(user)" method="post">
										<div class="form-group has-feedback">
											<input title="input" ng-model="user.email" type="email" class="form-control" autocomplete="email" placeholder="Email">
										</div>
										<div class="form-group has-feedback">
											<input title="input" ng-model="user.password" type="password" class="form-control" autocomplete="current-password" placeholder="Password">
										</div>
										<div class="padding text-center" style="padding:10px !important;">
											<button ng-show="!logging" type="submit" style="background-color:#000;color:#fff;" class="btn btn-dark btn-block btn-flat">Sign In</button>
											<img title="b" class="text-center" ng-show="logging" src="images/loaders/b1.gif" height="80"/>
										</div>
										</form>
											

								</div>
							
							</div>



</div>
</div>



						</div>
	</div>
							