


<div class="bg1">
	<div class="container">

   <div class="row">

      <div class="col col-md-12">

							<div class="login-box center-box">

								<div class="login-logo">
									<br>
									<img title="image" src="images/obic.png" height="70" style="margin:auto !important;"/><br>
									<small style="color:rgb(31, 45, 71);font-size: 22px !important;">Office</small>
							</div>

								<div class="center-box">
	
										<p style="color:rgb(22, 22, 22) !important;width:60%;margin:auto;direction:ltr;line-height: 14px; font-size:11px;font-weight: lighter !important; text-align:center !important;">Reset Your Admin Account.</p>
                                        <br>
                                        <form ng-submit="reset(email)" method="post">
										<div class="form-group has-feedback">
											<input ng-model="email" type="email" class="form-control" placeholder="Email">
										</div>
										
										<div class="row">
									
											<!-- /.col -->
											<div class="col-xs-12 text-center">
												<button ng-show="!logging" type="submit" style="background-color:#000;color:#fff;" class="btn btn-dark btn-block btn-flat">Reset</button>
												<img  title="image" class="text-center" ng-show="logging" src="images/loaders/b1.gif" height="80"/>
											</div>
											<!-- /.col -->
										</div>
										</form>
											

								</div>
							
							</div>



</div>
</div>



						</div>
	</div>
							