
      
  
  <div class="modal fade bd-example-modal-lg" id="coin_recieve" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-md">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
            <h3 class="black modal-title">Recieve {{coin.coin}}</h3>
        </div>
        <div class="modal-body">

          <!-- <qrcode style="margin: auto !important;" data="{{coin.address || '...'}}" size="200"></qrcode>
            
          -->
            
            <div class="padding">
                <v>Wallet Adress</v>
                <br>
                 <small class="oran pull-left">{{coin.address}}</small>
                <Br>
                 <h6 class="black padding">Receive bitcoins to this address securely. Transaction confirmation can be up to 5 mins or more</h6>
            </div>
            
             

        </div>


        

</div>
  
    </div>
  </div>
  
  