
      
  
  <div class="modal modal-default fade in" id="withdrawal">
    <div class="modal-dialog">
      <form class="modal-content" enctype="multipart/form-data" ng-submit="withdraw(form)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title text-center" style="color:#333;"><b>Withdrawal</b></h4>
        </div>
        <div class="modal-body">
            <div class="box">
                <br>
                <b style="height:auto !important;color:#666;font-size:13px;line-height:15px;">Make Withdrawal for customers</b>
               
              <h6 class="text-danger text-center">{{error}}</h6>
              <hr>
                    


              <div class="padding text-center" ng-if="admin.peer!='yes'">
                <e>You are not a peer, you are not authorized to approve withdrawals</e>
              </div>

                      <div class="form-group">
                      <label><b>Amount</b></label>
                      <div class="col-sm-12">
                      <input type="number" ng-model="form.amount" name="amount" placeholder="Amount">
                      </div>
                      </div>
                        <br>

                       <br>

                        <div class="form-group">
                          <label><b>ObicID</b></label>
                          <div class="col-sm-12">
                          <input type="number" ng-model="form.o_id" name="o_id" placeholder="0000000">
                          </div>
                          </div>
                            <br>


                          <br>

                          <div class="form-group">
                            <label><b>Message</b> <small>(optional)</small></label>
                            <div class="col-sm-12">
                            <input type="number" ng-model="form.message" name="message" placeholder="drop any message">
                            </div>
                            </div>
                              <br>

                <div class="form-group">
                 
                 <br><br>

                  <div class="row">

                    <div class="form-group">
                      <label class="control-label col-sm-2"><b>Bank</b></label>
                      <div class="col-sm-10">
                        <select title="link" ng-change="verify_bank(form.bank)" class="form-control" ng-model="form.bank.bank" ng-options="bank as bank.Name for bank in banks" required>
                        </select>
                      </div>
                    </div>

                    <br>
                    <br>
                    
                    <div class="form-group">
                      <label class="control-label col-sm-2"><b>Account Number</b></label>
                      <div class="col-sm-10">
                      <input type="number" ng-keyup="verify_bank(form.bank)" class="form-control" ng-model="form.bank.account_number" placeholder="Account Number" required>
                      </div>
                    </div>
                    
                  </div>

                    <div ng-show="checking">Checking...</div>

                    <div class="padding text-center" ng-show="verified_name">
                      <b>{{verified_name | uppercase}}</b>
                      <h5>{{form.bank.bank.Name}}</h5>
                    </div>

                  </div>

         <br> 
              </div>
        </div>
        <div class="modal-footer text-center center">
            <button  ng-disabled="!form.amount || !form.o_id || admin.peer=='no'" type="submit" class="btn btn-block btn-lg btn-blue btn-long btn-primary">Withdraw</button>
        </div>
      </form>
    </div>
  </div>
  
  